In [1]:
import pandas as pd

- 행 인덱스를 기준으로 데이터프레임 정렬
    - sort_index() 메서드를 활용하여 행 인덱스를 기준으로 데이터프레임 값을 정렬
    - ascending 옵션을 사용하여 오름차순 또는 내임차순을 설정
    - DataFrame.sort_index() 형태를 가짐.

In [2]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

# 내림차순으로 행 인덱스 정렬 
ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

- 특정 열의 데이터 값을 기준으로 데이터 프레임 정렬
    - sort_values() 메소드를 활용하여 새롭게 정렬된 데이터프레임 객체를 반환
    - sort_index와 동일하게 ascending 옵션으로 내림,오름차순을 정할 수 있다.(ascending=False(내림차순),True(오름차순))

In [5]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,4], 'c1':[4,10,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

# 내림차순으로 행 인덱스 정렬 
ndf = df.sort_values(by='c1', ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2  10   8  11  14
r2   4   6   9  12  15


    c0  c1  c2  c3  c4
r1   2  10   8  11  14
r2   4   6   9  12  15
r0   1   4   7  10  13

## 산술연산
- 판다스 객체의 산술연산은 내부적으로 3단계 프로세스를 거친다. 행/열 인덱스를 기준으로 모든 원소를 정렬.
- 동일한 위치에 있는 원소끼리 일대일로 대응.
- 일대응 대응이 되는 원소끼리 연산을 처리.(대응되는 원소가 없으면 NaN처리)

### 시리즈연산
- 시리즈 & 숫자: 시리즈객체에 어떤 숫자를 더하면 시리즈의 개별 원소에 각각 숫자를 더하고 계산한 결과를 시리즈 객체로 반환.(덧셈,뺄셈,곱셈,나눗셈 가능)

In [6]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})

In [7]:
print(student1)
print('\n')

#percentage로 표현하기
percentage = student1/100
print(percentage)
print('\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    1.0
영어    0.8
수학    0.9
dtype: float64


<class 'pandas.core.series.Series'>

연산 결과는 점수에서 100을 나눈 값을 반환을 하고 원래 인덱스와 동일한 국어, 영어, 수학 인덱스 순서대로 매칭하여 시리즈 객체로 반환한다.

- 시리즈 & 시리즈
    - 시리즈와 시리즈 사이에 사칙연산을 처리하는대 시리즈의 모든 인덱스에 대하여 같은 인덱스를 가진 원소끼리 계산한다.(사칙연산이 가능)
    - 인덱스에 연산 결과를 매칭하여 새 시리즈를 반환한다.

In [9]:
#딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})
print(student1)
print('\n')
print(student2)
print('\n')

#두 시리즈객체를 사칙연산 진행
addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
divistion = student1/student2

#사칙연산 결과를 데이터프레임으로 합치기(시리즈->데이터프레임)
resultdf = pd.DataFrame([addition, subtraction, multiplication, divistion],
                        index = ['덧셈','뺄셈','곱셈','나누기'])
print(resultdf)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64


              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나누기     1.111111     1.125     1.0

student1,2 시리즈에 서로 다른 인덱스 순이지만, resultdf 는 각 인덱스 국어면 국어를 매칭하고, 영어는 영어로 연산이 된 것을 볼 수 있다.   
이처럼 앞서 언급한 판다스는 같은 과목명(인덱스)을 찾아 정렬한 후 같은 과목명의 점수끼리 연산을 진행을 한다.   
만약 서로 다른 인덱스가 존재 한다면 어떻게 될까?

In [10]:
import numpy as np

# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1)
print('\n')
print(student2)
print('\n')

# 두 학생의 과목별 점수로 사칙연산 수행 (시리즈 vs. 시리즈)
addition = student1 + student2               #덧셈
subtraction = student1 - student2            #뺄셈
multiplication = student1 * student2         #곱셈
division = student1 / student2               #나눗셈
print(type(division))
print('\n')

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division], 
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

여기서 student1은 국어점수가 NaN이고, student2의 국어 점수는 90으로 존재하지만 연산 결과는 NaN으로 나온다는 것   
또한 영어 점수는 student2에는 존재하지 않기 때문에 이또한 모든 연산의 결과값이 NaN으로 나온다.

발생되는 NaN값을 나오게 하고 싶지 않다면? 연산 메서드를 사용하는 것이다.   
각 연산의 앞 3글자를 가져와서 메서드로 정의가 되어있다.

In [11]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1)
print('\n')
print(student2)
print('\n')

# 두 학생의 과목별 점수로 사칙연산 수행 (연산 메소드 사용)
sr_add = student1.add(student2, fill_value=0)    #덧셈
sr_sub = student1.sub(student2, fill_value=0)    #뺄셈
sr_mul = student1.mul(student2, fill_value=0)    #곱셈
sr_div = student1.div(student2, fill_value=0)    #나눗셈

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], 
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

여기서 inf는 무한대라는 값으로 student1 영어점수(80)에서 student2의 영어점수가 NaN대신 0으로 들어가고 나눴기 때문이다.

### 데이터프레임 연산
- 데이터프레임은 여러 시리즈가 한데 모인 것이므로 시리즈 연산을 확장하는 개념으로 이해
- 시리즈 연산과 동일하게 행/열 인덱스를 기준으로 정렬하고 일대일 대을되는 원소끼리 연산처리

In [13]:
import seaborn as sns #seaborn 라이브러리에서 제공하는 titanic 데이터셋 사용하기 위한 라이브러리 import

In [17]:
titanic = sns.load_dataset('titanic')

#titanic 데이터셋에서 age,fare 2개의 열을 선택하여 데이터프레임 만들기
df = titanic.loc[:,['age','fare']] 
print(df.head()) #데이터 첫5행표시
print('\n')
print(type(df))
print('\n')

#데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.head())
print('\n')
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

> Seaborn 내장 데이터셋의 종류: 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'iris', 'mpg', 'plantes', 'tips', 'titanic' 이 있다.

- 데이터프레임 & 데이터프레임 연산
    - 각 데이터프레임의 같은 행, 같은 열 위치에 있는 원소끼리 계산한다. 동일한 위치의 원소끼리 계산한 결과값을 원래 위치에 다시 입력하여 데이터프레임을 만든다.
    - 데이터 프레임 중에서 어느 한쪽에서 원소가 존해하지 않거나 NaN이면 연산 결과는 NaN 처리

In [18]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
print(df.tail())          #마지막 5행을 표시
print('\n')
print(type(df))
print('\n')

# 데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.tail())    #마지막 5행을 표시
print('\n')
print(type(addition))
print('\n')

# 데이터프레임끼리 연산하기 (additon - df)
subtraction = addition - df
print(subtraction.tail())   #마지막 5행을 표시
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>